// $timing-function:cubic-bezier(0.570, 0.000, 0.245, 1.000),


@use "mixin" as *;

img {
    max-width: 100%;
    vertical-align: bottom;
    
    transition: all 1.2s ease;
}


// <div class="cover-slide hover-darken">
// 　　<img class="img-zoom" src="images/image-1.jpg">
// </div>

// 2023年11月9日　10時05分

.cover-slide{
    position: relative;
    width: 50%;
    overflow: hidden;
    &::before{
        content:"";
        top:0;
        left:0;
        right:0;
        bottom:0;
        position: absolute;
        background-color: gray;
        // pointer-events: none;
        @include animation(
            $name:AAA,
            $duration:1.2s,
        )
    }

}
@keyframes AAA {
    0%{
        transform-origin: left;
        transform: scaleX(0);
    }
    50%{
        transform-origin: left;
        transform: scaleX(100%);
    }
    50.1%{
        transform-origin: right;
        transform: scaleX(100%);
    }
    100%{
        transform-origin: right;
        transform: scaleX(0);
    }
    
};

.img-zoom{
    display: block;
    @include animation(
        $name:BBB,
        $duration:1.2s,
        $fill-mode:none,
    );
    &:hover{
        transform: scale(1.2);
    }
}
@keyframes BBB {
    0%{
        transform: scaleX(0);
        transform-origin: left;
    }
    50%{
        transform: scaleX(0);
        transform-origin: left;
    }
    100%{
        transform-origin: left;
        transform: scaleX(1);
    }
};

.hover-darken{
    &::after{
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        pointer-events: none;
    }
    &:hover::after{
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}























// 2023/11/08　20時54分　4回目開始 21時20分　完了

// .cover-slide{
//     width: 50%;
//     position: relative;
//     overflow: hidden;
//     &::before{
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: gray;
//         @include animation(
//             $name:AAA,
//             $duration:1.2s,
//         );
//     }
// }
// @keyframes AAA {
//     0%{
//         transform-origin: left;
//         transform: scaleX(0);
//     }
//     50%{
//         transform-origin: left;
//         transform: scaleX(100%);
//     }
//     50.1%{
//         transform-origin: right;
//         transform: scaleX(100%);
//     }
//     100%{
//         transform-origin: right;
//         transform: scaleX(0);
//     }
    
// }

// .hover-darken{
//     position: relative;
//     &::after{
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         pointer-events: none;
//     }
//     &:hover::after{
//         background-color: rgba($color: #000000, $alpha: 0.5);
//         transition: background-color 1.2s ease;
//      }
        
// }

// .img-zoom{

//     @include animation(
//         $name:BBB,
//         $duration:1.2s,
//         $fill-mode:none,
//     );
//     &:hover{
//         transform: scale(1.2);
//     }
// }
// @keyframes BBB {
//     0%{
//         opacity: 0;
//         transform-origin: left;
//         transform: scaleX(0);
//     }
//     50%{
//         opacity: 0;
//         transform-origin: left;
//         transform: scaleX(0);
//     }
//     100%{
//         opacity: 1;
//         transform-origin: left;
//         transform: scaleX(1);
//     }
    
// }




















// 1108 1922開始

// .cover-slide{
//     position: relative;
//     width: 50%;
//     overflow: hidden;
//     &::before{
//         content:"";
//         position: absolute;
//         top:0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: lightgray;
//         @include animation(
//             $name:AAA,
//             $duration:1.2s,
//         )
//     }
// }
// @keyframes AAA {
//     0%{
//         transform-origin: left;
//         transform: scaleX(0);
//     }
//     50%{
//         transform-origin: left;
//         transform: scaleX(1);
//     }
//     50.1%{
//         transform-origin: right;
//         transform: scaleX(1);
//     }
//     100%{
//         transform-origin: right;
//         transform: scaleX(0);
//     }
    
// }


//     .hover-darken{
//         &::after{
//             content: "";
//             position: absolute;
//             top:0;
//             left:0;
//             width: 100%;
//             height: 100%;
//             pointer-events: none;
//             transition: all 1.2s ease;
//         }
//         &:hover::after{
//             background-color: rgba($color: #000000, $alpha: 0.5);

//         }
//         }
    
    
// // }






// .img-zoom{
    
//     // opacity: 0;
//     &:hover{
//         transform: scale(1.2);
//     }
//     @include animation(
//         $name:BBB,
//         $duration:1.2s,
//         $timing-function:ease,
//         $fill-mode:none,
        
//     )
// }
// @keyframes BBB {
//     0%{

//         transform: scaleX(0);
//     }
    
//     40%{
//         transform: scaleX(0);
//         transform-origin: left;

//     }
    
//     100%{
//         transform-origin: left;
//         transform: scaleX(1);
//     }
// }


// 1108 1536開始

// .cover-slide{
//     position: relative;
//     overflow: hidden;
//     width: 50%;
//     // opacity: 0;
//     &::before{
//         content: "";
//         position: absolute;
//         top:0;
//         left:0;
//         right: 0;
//         bottom: 0;
//         background-color: rgb(190, 190, 190);
//         @include animation(
//             $name:AAA,
//             $duration:1.2s,
//             )
//     }
// }
// @keyframes AAA {
//     0%{
//         transform-origin: left;
//         transform: scaleX(0);
        
//     }
    
//     50%{
//         transform-origin: left;
//         transform: scaleX(1);
//     }
//     50.1%{
//         transform-origin: right;
//         transform: scaleX(1);
//     }
//     100%{
//         transform-origin: right;
//         transform: scaleX(0);
//     }
    
// }


// .img-zoom{

//     @include animation(
//         $name:BBB,
//         $duration:1.2s,
//         $fill-mode:none,
//         ) ;
//         &:hover{
//             transform: scale(1.2);
//         }
// }

// .hover-darken{
//         &::after{
//             content: "";
//             position: absolute;
//             top:0;
//             left:0;
//             width: 100%;
//             height: 100%;
//             pointer-events: none;
        
//         }
//         &:hover::after{
//                     background-color:rgba(0, 0, 0, 0.418);
//                 }
            
//             }

            
//             @keyframes BBB {
//                 0%{
//                     opacity: 0;
//                 }
//                 35%{
//                     transform:scaleX(0);
//                     opacity: 0;
//                 }
//                 100%{
//                     transform:scaleX(1);
//                     transform-origin: left;
//                     opacity: 1;
//                 }
                
//             }
            
            
            
// 1108完了

// .cover-slide{
//     width: 50%;
//     position: absolute;
//     overflow:hidden;
//     &::before{
//         overflow: hidden;
//         content: "";
//         position:absolute;
//         top:0;
//         left:0;
//         right: 0;
//         bottom:0;
//         background-color: rgba($color: #000000, $alpha: 0.4);
//         z-index: 1;


//         @include animation(
//             $name:AAA,
//             $duration:1.5s,
//             $timing-function:ease,
//             )
//         }
        
//       .img-zoom{
//              @include animation(
//                  $name:BBB,
//                  $duration:1.5s,
//                  $timing-function:ease,
//                  $fill-mode:none
//                  )
//      }
// }
// .hover-darken{
//         overflow: hidden;
        
        
//         & .img-zoom:hover{
//             transform: scale(1.2);
//             transition:all 1.3s ease;
//         }
            
            
//         &:hover::after{
//                 content:"";
//                 top:0;
//                 position: absolute;
//                 left: 0;
//                 width: 100%;
//                 height: 100%;
//                 pointer-events: none;
//                 background-color: rgba($color: #000000, $alpha: 0.4);
//                 }
        
//     }
// @keyframes AAA {
//     0%{
//         transform-origin: left;
//         transform: scaleX(0);
//     }
//     50%{
//         transform-origin: left;
//         transform: scaleX(100%);
        
//     }
//     50.1%{
//         transform-origin: right;
//         transform: scaleX(100%);
        
        
//     }
//     100%{
//         transform-origin: right;
//         transform: scaleX(0);

//     }
// }

// @keyframes BBB  {
//     0%{
//         opacity: 0;
        
//     }
//     35%{
//         opacity: 0;
//         transform: scale(0);
//     }
//     65%{
//         opacity: 0;
//         transform: scale(0.9);
//     }
//     75%{
//         opacity: 0.5;
//     }
    
//     100%{
//         transform: scale(1);
//         opacity: 1;
//     }
// }





// .cover-slide {
//     position: relative;
//     width: 50%;
//     overflow: hidden;

//     &::before{
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         z-index: 2;
//         background-color: lightblue;
//         @include animation(
//             $name:AAA,
//             $duration:1.2s,

//             );
            
//         }
// }
// @keyframes AAA {
//     0%{
//         transform-origin: left;
//         transform: scaleX(0);
//     }
//     50%{
//         transform-origin: left;
//         transform: scaleX(100%);
//     }
//     50.1%{
//         transform-origin: right;
//         transform: scaleX(100%);
//     }
//     100%{
//         transform-origin: right;
//         transform: scaleX(0);
//     }
    
// }
// .img-zoom{
//     transition: transform 0.50s ease;
//     &:hover{
//         transform: scale(1.05);
//     }
//     @include animation(
//         $name:BBB,
//         $duration:1.4s,
//         $timing-function:ease,
//     )
// }
// @keyframes BBB {
//     0%{
//         opacity: 0;
//     }
    
//     20%{
//         scale: 1.3;
//     }
//     30%{
//         opacity: 0;
//     }
  
//     100%{
//         opacity: 1;
//     }
    
// }

// .hover-darken{
//     &::after{
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         transition: background-color 0.5s ease;
//         pointer-events: none;
//     }

//     &:hover::after{
//         background-color: rgba($color: #000000, $alpha: 0.5);
//     }
// }


// .hover-darken{
//     &::after{
//         content:"";
//         position:absolute;
//         top:0;
//         left: 0;
//         width: 100%;
//         height:100%;
//         pointer-events: none;
//         z-index: 1;
//         transition: background-color 0.5s ease;
        

//         @include animation(
//             $name:BBB,
//             $duration:2.4s,
//             $timing-function:ease,
//             $fill-mode:none,
//         );

//     }
//     &:hover::after{
//         background-color: rgba($color: #000000, $alpha: 0.4);
//     }
// }




























//     position: relative;
//     overflow: hidden;

//     &::before{
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: lightblue;
//         opacity: 0;
//         z-index: 2;
//     }

//     &.inview{
//         &::before{
//             opacity: 1;
//             @include animation(
//                 $name:AAA,
//                 $duration:3.3s,
//                 $timing-function:cubic-bezier(0.570, 0.000, 0.245, 1.000),
//             );
//         }
//     }
// }
// @keyframes AAA {
//     0%{
//         transform-origin: left;
//         transform: scaleX(0);
//     }
    
//     50%{
//         transform-origin: left;
//         transform: scaleX(100%);
//     }
    
//     50.1%{
//         transform-origin: right;
//         transform: scaleX(100%);
//     }
    
//     100%{
//         transform-origin: right;
//         transform: scaleX(0);
//     }
    
// }

// .img-zoom{
//     opacity: 0;

//     .inview &{
//         opacity: 1;
//         transition: transform 3.0s ease-in-out;
//         @include animation(
//             $name:BBB,
//             $duration:3.3s,
//             $fill-mode:none,
//             $timing-function:cubic-bezier(0.870, 0.000, 0.445, 1.000),
//             )
//     }
// }
// @keyframes BBB {
//     0%{
//         opacity: 0;
//     }
//     30%{
//         opacity: 0;
//         // transform-origin: left;
//         // transform: scaleX(0.5);
//     }
    
//     35%{
//         opacity: 0;
//         transform: scale(3.5);
//     }
    
//     100%{
//         opacity: 1;
//     }
    
// }




















//     &::after{
//         content:"";
//         position: absolute;
//         top:50%;
//         left:0;
//         right: 0;
//         bottom: 0;
//         background-color: lightblue;
//         // opacity: 0;    
//     }
// }











// @use "mixin" as *;

// img {
//   max-width: 100%;
//   vertical-align: bottom;
// }

// .cover-slide {
//   position: relative;
//   overflow: hidden;

//   &::after {
//     content: "";
//     position: absolute;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: red;
//     opacity: 0;
//   }
//   &.inview {
//     &::after {
//       opacity: 1;

//       @include animation(
//         $name: kf-cover-slide,
//         $duration: 1.6s,
//         $timing-function: ease-in-out
//       );
//     }
//   }
// }

// @keyframes kf-cover-slide {
//   0% {
//     transform-origin: left;
//     transform: scaleX(0);
//   }
//   50% {
//     transform-origin: left;
//     transform: scaleX(1);
//   }
//   50.1% {
//     transform-origin: right;
//     transform: scaleX(1);
//   }
//   100% {
//     transform-origin: right;
//     transform: scaleX(0);
//   }
// }

// // @keyframes kf-cover-slide {
// //   0% {
// //     left: 0;
// //     right: 100%;
// //   }
// //   50% {
// //     left: 0;
// //     right: 0;
// //   }
// //   100% {
// //     left: 100%;
// //     right: 0;
// //   }
// // }

// .img-zoom {
//   opacity: 0;

//   .inview & {
//     opacity: 1;
//     transition: transform 0.3s ease;
//     @include animation(
//       $name: kf-img-show,
//       $duration: 1.6s,
//       $timing-function: ease-in-out,
//       $fill-mode: none
//     );

//     &:hover {
//       transform: scale(1.05);
//     }
//   }
// }

// @keyframes kf-img-show {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 0;
//   }
//   50.1% {
//     opacity: 1;
//     transform: scale(1.5);
//   }
//   100% {
//     opacity: 1;
//   }
// }

// .hover-darken {
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//     transition: background-color 0.3s ease;
//     pointer-events: none;
//     @include animation(
//       $name: kf-img-show,
//       $duration: 1.6s,
//       $timing-function: ease-in-out,
//       $fill-mode: none
//     );
//   }
//   &:hover::before {
//     background-color: rgba(0, 0, 0, 0.4);
//   }
// }

// .bg-img-zoom {
//   background-image: url(images/image-1.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   width: 100%;
//   @extend .img-zoom;
// }

// .img-bg50 {
//   position: relative;
  
//   &::before {
//     display: block;
//     content: '';
//     padding-top: 50%;
//   }
// }